.content {
    max-width: 1200px;
    margin: 120px auto;
}

.content>.person {
    border-left: solid 1px #006A9F;
    border-right: solid 1px #006A9F;
    padding: 12px 32px;
    border-bottom: solid 1px #006A9F;
}

.content>.person:first-child {
    border-radius: 6px 6px 0 0;
    border-top: solid 1px #006A9F;
}

.content>.person:last-child {
    border-radius: 0 0 6px 6px;
    border-bottom: solid 1px #006A9F;
}

.person>h2 {
    margin: 0;
    padding: 0;
}


.select-identity {
    width: 100%;
    text-align: center;
}

.select-identity>select {
    padding: 6px 12px;
    border: solid 1px #006A9F;
    font-size: 18px;
}

.snack {
    background: #00D2C3;
    padding: 2px 6px;
    border-radius: 6px;
    cursor: pointer;
}
