/* You can add global styles to this file, and also import other style files */
body,
p,
div,
input,
* {
    font-family: 'Source Sans Pro', sans-serif;
}

body {
    padding-bottom: 60px;
}

a {
    color: #F40257;
}

a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
    background: #fff;
}

footer>p {
    text-align: center;
    padding: 24px;
}

input {
    padding: 4px 8px;
    border-radius: 6px;
    border: solid 1px #F40257;
    margin: 2px;
}

button {
    margin: 2px;
    border-radius: 6px;
    padding: 4px 8px;
    border: solid 1px #F40257;
    background: #F40257;
    color: #ffffff;
    cursor: pointer;
    text-transform: uppercase;
}

.double-panel {
    display: flex;
}

.double-panel>div {
    flex: 1 0 0;
}
