/* You can add global styles to this file, and also import other style files */
body,
p,
div,
input,
* {
    font-family: 'Source Sans Pro', sans-serif;
}

a {
    color: #F40257;
}

a:hover {
    text-decoration: underline;
}

footer {
    position: fixed;
    bottom: 0;
    left: 0;
    width: 100%;
}

footer>p {
    text-align: center;
    padding: 24px;
}
